.page__body {
  padding: 0 310px;
}

.page-main {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: transparent;
}

.index-main__banner {
  // padding: 0 310px;
  width: 100%;
  min-height: 560px;
  margin-bottom: 73px;
}

.index-main__popular {
  // padding: 0 310px;
  width: 100%;
  margin-bottom: 110px;
}

.index-main__sale {
  // padding: 0 310px;
  width: 100%;
  margin-bottom: 120px;
}

.index-main__sale-for {
  // padding: 0 310px;
  width: 100%;
  margin-bottom: 80px;
}

.index-main__day-product {
  // padding: 0 310px;
  width: 100%;
  margin-bottom: 88px;
}

.index-main__articles {
  width: 100%;
  // padding: 0 310px;
}