$white: #ffffff;
$main: #303030;
$logo: #E1A661;
$background: #F8F8F8;
$pressed-btn: #000000;
$hover-btn: #505050;
$inner-btn: #F0F0F0;

$pressed: #E24B33;
$normal: #C9C9C9;
$hover: #979797;
$sale: #5B8A8F;

$sale-hover: #DDDDDD;

$new: #495159;
$discount: #43807F;
$count: #E46942;

$silver: #D9D9D9;
$gold: #F1CB7E;
$bronze: #EA8C48;

$placeholder: #A2A2A2;

$mobile-width: 321px;
$mobile-width-only: 320px;
$mobile-tablet-width: 550px;
$tablet-width: 768px;
$desktop-width: 1150px;